*.log
*.dat
*.out
*.pid
*.gz
*.zip
*.tmp
.DS_Store
*response*.json
Thumbs.db

node_modules/
npm-debug.log

.cache/
.idea/
/.project
atlassian-ide-plugin.xml
*.sublime-project
*.sublime-workspace

/build/
/dist/
/config/
/misc/

*-test-results.xml
/xunit.xml
/checkstyle.xml
/checkstyle-jshint.xml
/checkstyle-jscs.xml
